.payload-flex-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.payload-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #828385;
  padding: 5px 0;
}
